<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>人事管理系统 ——员工管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="keywords" content="keyword1,keyword2,keyword3"/>
    <meta http-equiv="description" content="This is my page"/>
    <link th:href="@{../css/css.css}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{../js/ligerUI/skins/Aqua/css/ligerui-dialog.css}"/>
    <link th:href="@{../js/ligerUI/skins/ligerui-icons.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link th:href="@{../css/css.css}" href="../css/css.css" type="text/css" rel="stylesheet"/>
    <link th:href="@{../css/pager.css}" href="../css/pager.css" type="text/css" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{../js/jquery-1.11.0.js}" src="../js/jquery-1.11.0.js"></script>
    <script type="text/javascript" th:src="@{../js/jquery-migrate-1.2.1.js}"
            src="../js/jquery-migrate-1.2.1.js"></script>
    <link th:href="@{../js/ligerUI/skins/Aqua/css/ligerui-dialog.css}"
          href="../js/ligerUI/skins/Aqua/css/ligerui-dialog.css" rel="stylesheet" type="text/css"/>
    <script th:src="@{../js/ligerUI/js/core/base.js}" src="../js/ligerUI/js/core/base.js"
            type="text/javascript"></script>
    <script th:src="@{../js/ligerUI/js/plugins/ligerDialog.js}" src="../js/ligerUI/js/plugins/ligerDialog.js"
            type="text/javascript"></script>
    <script th:src="@{../js/ligerUI/js/plugins/ligerDrag.js}" src="../js/ligerUI/js/plugins/ligerDrag.js"
            type="text/javascript"></script>
    <script th:src="@{../js/ligerUI/js/plugins/ligerResizable.js}" src="../js/ligerUI/js/plugins/ligerResizable.js"
            type="text/javascript"></script>
    <script th:inline="javascript">

        function summit(id){
            var url = '/employee/showEmployeePage?cpage=' + id;
            $.ajax({
                url: url,
                type: 'POST',
                success: function (data) {
                    $("#tableList").html(data);
                    var idName = "#btn"+id;
                    $(idName).removeClass("btn-light").addClass("btn-primary");
                }
            })
        }

        function searchEmployee(){
            var employeeName = $("#employeeName").val();
            var employeeCardId = $("#employeeCardId").val();
            var job_id = $("#job_id").val();
            var sex = $("#sex").val();
            var phone = $("#phone").val();
            var dept_id = $("#dept_id").val();
            var url = '/employee/employeeSearch?employeeName=' + employeeName + "&employeeCardId=" + employeeCardId + "&job_id=" + job_id + "&sex="+ sex + "&phone=" + phone + "&dept_id=" + dept_id;
            $.ajax({
                url: url,
                type: 'POST',
                success: function (data) {
                    $("#tableList").html(data);
                }
            })
        }

        $(function () {
            /** 获取上一次选中的部门数据 */
            var boxs = $("input[type='checkbox'][id^='box_']");

            /** 给全选按钮绑定点击事件  */
            $("#checkAll").click(function () {
                // this是checkAll  this.checked是true
                // 所有数据行的选中状态与全选的状态一致
                boxs.attr("checked", this.checked);
            })

            /** 给数据行绑定鼠标覆盖以及鼠标移开事件  */
            $("tr[id^='data_']").hover(function () {
                $(this).css("backgroundColor", "#eeccff");
            }, function () {
                $(this).css("backgroundColor", "#ffffff");
            })


            /** 删除员工绑定点击事件 */
            $("#delete").click(function () {
                /** 获取到用户选中的复选框  */
                var checkedBoxs = boxs.filter(":checked");
                if (checkedBoxs.length < 1) {
                    $.ligerDialog.error("请选择一个需要删除的员工！");
                } else {
                    /** 得到用户选中的所有的需要删除的ids */
                    var ids = checkedBoxs.map(function () {
                        return this.value;
                    })

                    $.ligerDialog.confirm("确认要删除吗?", "删除员工", function (r) {
                        if (r) {
                            $.ajax({
                                type: "POST",
                                url: "/employee/removeEmployee?ids=" + ids.get(),
                                async: true,
                                contentType: "application/json;charset=UTF-8",
                                error: function (XMLHttpRequest, textStatus, errorThrown) {
                                    alert("消息", "出错了，请于管理员联系");
                                },
                                success: function (json) {
                                    if (json!== "success") {
                                        $.ligerDialog.error(json);
                                    } else {
                                        var idss = ids.get().toString();
                                        var idss = idss.split(",");
                                        for (var i = 0; i < idss.length; i++) {
                                            $("#data_" + idss[i]).fadeOut("fast");
                                        }
                                    }
                                }
                            });
                        }
                    });
                }
            })
        })
    </script>
</head>
<body>
<!-- 导航 -->
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td height="10"></td>
    </tr>
    <tr>
        <td width="15" height="32"></td>
        <td class="">
            <div class="form-horizontal">
                <span><img src="../images/current_pos.png"></span>
                <span class="font-weight-bolde">当前位置:</span>
                <span class="badge badge-pill badge-dark">员工管理</span>
                <span class="font-weight-bolde"> > </span>
                <span class="badge badge-pill badge-secondary">员工查询</span>
            </div>
        </td>
        <td width="15" height="32"></td>
    </tr>
</table>

<table width="100%" height="90%" border="0" cellpadding="5" cellspacing="0" class="main_tabbor">
    <!-- 查询区  -->
    <tr valign="top">
        <td height="30">
            <table width="100%" border="0" cellpadding="0" cellspacing="10" class="main_tab">
                <tr>
                    <td class="fftd">

                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                            <tr>
                                <td class="font3">
<!--                                    姓名：<input type="text" id="employeeName" name="name">-->
                                    <div class="input-group input-group-sm mb-3 w-25" style="margin-left: 600px;margin-right: 250px">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text shadow" id="inputGroup-sizing-sm1">姓名</span>
                                        </div>
                                        <input type="text" id="employeeName" name="name" class="form-control shadow" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="font3">
<!--                                    身份证号码：<input type="text" id="employeeCardId" name="cardId" maxlength="18">-->
                                    <div class="input-group input-group-sm mb-3 w-25" style="margin-left: 600px;margin-right: 250px">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text shadow" id="inputGroup-sizing-sm2">身份证号码</span>
                                        </div>
                                        <input type="text" id="employeeCardId" name="cardId" class="form-control shadow" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="font3">
<!--                                    手机：<input type="text" id="phone" name="phone">-->
                                    <div class="input-group input-group-sm mb-3 w-25" style="margin-left: 600px;margin-right: 250px">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text shadow" id="inputGroup-sizing-sm3">手机号码</span>
                                        </div>
                                        <input type="text" id="phone" name="phone" class="form-control shadow" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="font3">
<!--                                    职位：-->
<!--                                    <select name="job_id" id="job_id" style="width:143px;">-->
<!--                                        <option value="0">&#45;&#45;请选择职位&#45;&#45;</option>-->
<!--                                        <option th:each="job,eStat:${jobs}" th:value="${job.job_id}"-->
<!--                                                th:text="${job.job_name}"></option>-->
<!--                                    </select>-->
                                    <div class="input-group input-group-sm mb-3 w-25" style="margin-left: 600px;margin-right: 250px">
                                        <div class="input-group-prepend" style="margin-right: 2px">
                                            <span class="input-group-text shadow" id="inputGroup-sizing-sm4">职&nbsp;位</span>
                                        </div>
                                        <select name="job_id" id="job_id" class="input-group-text shadow">
                                            <option value="0">--选择职位--</option>
                                            <option th:each="job,eStat:${jobs}" th:value="${job.job_id}"
                                                    th:text="${job.job_name}"></option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="font3">
                                    <div class="input-group input-group-sm mb-3 w-25" style="margin-left: 600px;margin-right: 250px">
                                        <div class="input-group-prepend" style="margin-right: 2px">
                                            <span class="input-group-text shadow" id="inputGroup-sizing-sm5">性&nbsp;别</span>
                                        </div>
                                        <select name="sex" id="sex" class="input-group-text shadow">
                                            <option value="0">--选择性别--</option>
                                            <option value="1">男</option>
                                            <option value="2">女</option>
                                        </select>
                                    </div>
                                    <div class="input-group input-group-sm mb-3 w-25" style="margin-left: 600px;margin-right: 250px">
                                        <div class="input-group-prepend" style="margin-right: 2px">
                                            <span class="input-group-text shadow" id="inputGroup-sizing-sm6">所属部门</span>
                                        </div>
                                        <select name="dept_id" id="dept_id" class="input-group-text shadow">
                                            <option value="0">--部门选择--</option>
                                            <option th:each="department,eStat:${departments}" th:value="${department.depart_id}"
                                                    th:text="${department.depart_name}"></option>
                                        </select>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td class="font3">
<!--                                    <input type="submit" onclick="searchEmployee()" value="搜索"/>-->
<!--                                    <input id="delete" type="button" value="删除"/>-->
                                    <button type="button" onclick="searchEmployee()" class="btn btn-primary btn-sm shadow">搜索</button>&nbsp;&nbsp;
                                    <button type="reset" id="delete" class="btn btn-danger btn-sm shadow">删除</button>
                                </td>
                            </tr>
                        </table>

                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<div class="tableList" id="tableList" th:fragment="pageHtml">
    <!-- 数据展示区 -->
    <tr valign="top">
        <td height="20">
            <table class="table table-hover" width="100%" border="1" cellpadding="5" cellspacing="0"
                   style="border:#c2c6cc 1px solid; border-collapse:collapse;">
                <tbody>
                <tr class="main_trbg_tit" align="center">
                    <td><input type="checkbox" name="checkAll" id="checkAll"></td>
                    <td>姓名</td>
                    <td>性别</td>
                    <td>手机号码</td>
                    <td>邮箱</td>
                    <td>职位</td>
                    <td>学历</td>
                    <td>身份证号码</td>
                    <td>部门</td>
                    <td>联系地址</td>
                    <td>建档日期</td>

                    <td width="70px;">操作</td>

                </tr>

                <tr th:each="employee,state:${page.rows}" th:id="'data_' + ${employee.user_id}" class="main_trbg" align="center" style="background-color: rgb(255, 255, 255);">
                    <td><input type="checkbox" th:id="'box_' + ${employee.user_id}" th:value="${employee.user_id}"></td>
                    <td th:text="${employee.employee_name}"></td>
                    <td th:text="${employee.employee_sex == 1}? '男': '女'"></td>
                    <td th:text="${employee.employee_phone}"></td>
                    <td th:text="${employee.employee_email}"></td>
                    <td th:text="${jobMap.get(employee.employee_job_id)}"></td>
                    <td th:text="${employee.employee_edu}"></td>
                    <td th:text="${employee.employee_crad_id}"></td>
                    <td th:text="${deptMap.get(employee.employee_depart_id)}"></td>
                    <td th:text="${employee.employee_address}"></td>
                    <td th:text="${employee.create_time}"></td>

                    <td align="center" width="40px;"><a th:href="'showUpdateEmployee.html?user_id=' + ${employee.user_id}">
                        <img title="修改" src="../images/update.png"></a>
                    </td>

                </tr>

                </tbody>
            </table>
        </td>
    </tr>
    <!-- 分页标签 -->
    <div align="center">

        <!--        首页更改-->
        <button type="button" class="btn btn-light" th:text="首页"
                th:onclick="${page.isFirstPage}==true?'': 'summit(1)'"></button>

        <button type="button" class="btn btn-light"
                th:onclick="${page.isFirstPage}==true?'': 'summit('+${page.current - 1} + ')'"
                th:text="上一页"
        ></button>

        <!-- 如果前面页码没有显示完则显示省略号 -->
        <a th:if="${page.navigateFirstPage > 1}"><strong>...</strong></a>

        <!-- 显示导航页码 -->

        <th:block th:each="i: ${page.navigatepageNums}">
            <button type="button" class="btn btn-light" th:classappend="${page.current == i} ? 'btn-primary'"
                    th:onclick="'summit(' + ${i} + ')'" th:text="${i}" th:id="'btn'+${i}"
            ></button>
        </th:block>


        <!-- 如果后面页码没有显示完则显示省略号 -->
        <a th:if="${page.navigateLastPage < page.totalPages}"><strong>...</strong></a>

        <!-- 如果是末页，disable下一页和末页-->
        <button type="button" class="btn btn-light"
                th:onclick="${page.isLastPage}==true?'': 'summit('+${page.current + 1} + ')'"
                th:text="下一页"
        ></button>

        <button type="button" class="btn btn-light"
                th:onclick="${page.isLastPage}==true?'': 'summit('+${page.totalPages} + ')'"
                th:text="尾页"
        ></button>
    </div>
</div>
<div style="height:10px;"></div>
</body>
</html>