<!--
page.current 当前页
page.totalPages  总页数
page. navigatepageNums  显示的所有导航页号
url 请求的url
urlPara 请求参数名称
 -->
<th:block th:fragment="pageHtml(page, url, urlPara)">
    <meta charset="UTF-8" />

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <!-- 如果是首页，disable上一页和首页-->
            <li class="page-item" th:class="${page.isFirstPage}==true? 'disabled'">
                <a class="page-link" th:href="${page.isFirstPage}==true?'#': @{${url}(${urlPara}=1)}">首页</a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="${page.isFirstPage}==true?'#': @{${url} + '?' + ${urlPara} + '=' + ${page.current - 1}}">上一页</a>
            </li>

            <!-- 如果前面页码没有显示完则显示省略号 -->
            <li class="page-link" th:if="${page.navigateFirstPage > 1}"><span>&hellip;</span></li>
            <!-- 显示导航页码 -->
            <th:block th:each="i: ${page.navigatepageNums}">
                <li class=page-item"" th:class=" ${page.current == i} ? 'active'">
                    <a class="page-link"  th:href="@{${url} + '?' + ${urlPara} + '=' + ${i}}" th:text="${i}"></a></li>
            </th:block>
            <!-- 如果后面页码没有显示完则显示省略号 -->
            <li class="page-link" th:if="${page.navigateLastPage < page.totalPages}"><span>&hellip;</span></li>
            <!-- 如果是末页，disable下一页和末页-->
            <li class="page-item" th:class=" ${page.isLastPage}==true? 'disabled'">
                <a class="page-link" th:href="${page.isLastPage}==true? '#': @{${url} + '?' + ${urlPara} + '=' + ${page.current + 1}}">下一页 </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="${page.isLastPage}==true? '#': @{${url}(${urlPara}=${page.totalPages})}">末页</a>
            </li>

        </ul>
    </nav>
</th:block>
